### True Learning Objectives

- How can I process data in Python

#### How do I load data into Python

We use a Python **library** called **Pandas** to load and process data in Python. 

**Library** is a collection of functions that are designed to add additional functionalities, often for a specific purpose, to the basic Python package. 

**Pandas**, Python Data Analysis Library, is an open source library that provide high-performance, easy-to-use data structure and data analysis tools for the Python programming language.

In [9]:
import pandas

In [10]:
pandas.read_csv('data/combined.csv')

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control
2,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
3,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
4,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
5,363,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
6,435,12,10,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
7,506,1,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
8,588,2,18,1978,2,NL,M,NaN,218.0,Neotoma,albigula,Rodent,Control
9,661,3,11,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
10,748,4,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
11,845,5,6,1978,2,NL,M,32.0,204.0,Neotoma,albigula,Rodent,Control
12,990,6,9,1978,2,NL,M,NaN,200.0,Neotoma,albigula,Rodent,Control
13,1164,8,5,1978,2,NL,M,34.0,199.0,Neotoma,albigula,Rodent,Control
14,1261,9,4,1978,2,NL,M,32.0,197.0,Neotoma,albigula,Rodent,Control
15,1374,10,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
16,1453,11,5,1978,2,NL,M,NaN,218.0,Neotoma,albigula,Rodent,Control
17,1756,4,29,1979,2,NL,M,33.0,166.0,Neotoma,albigula,Rodent,Control
18,1818,5,30,1979,2,NL,M,32.0,184.0,Neotoma,albigula,Rodent,Control
19,1882,7,4,1979,2,NL,M,32.0,206.0,Neotoma,albigula,Rodent,Control
20,2133,10,25,1979,2,NL,F,33.0,274.0,Neotoma,albigula,Rodent,Control
21,2184,11,17,1979,2,NL,F,30.0,186.0,Neotoma,albigula,Rodent,Control
22,2406,1,16,1980,2,NL,F,33.0,184.0,Neotoma,albigula,Rodent,Control
23,2728,3,9,1980,2,NL,F,NaN,NaN,Neotoma,albigula,Rodent,Control
24,3000,5,18,1980,2,NL,F,31.0,87.0,Neotoma,albigula,Rodent,Control
25,3002,5,18,1980,2,NL,F,33.0,174.0,Neotoma,albigula,Rodent,Control
26,4667,7,8,1981,2,NL,F,30.0,130.0,Neotoma,albigula,Rodent,Control
27,4859,10,1,1981,2,NL,M,34.0,208.0,Neotoma,albigula,Rodent,Control
28,5048,11,23,1981,2,NL,M,34.0,192.0,Neotoma,albigula,Rodent,Control
29,5180,1,1,1982,2,NL,M,NaN,206.0,Neotoma,albigula,Rodent,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34756,21209,11,13,1993,7,CU,NaN,NaN,NaN,Cnemidophorus,uniparens,Reptile,Rodent Exclosure
34757,25710,5,10,1997,7,PB,M,26.0,31.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34758,26042,6,10,1997,7,PB,F,27.0,24.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34759,26096,6,10,1997,7,PB,F,26.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34760,26356,7,9,1997,7,PB,M,27.0,32.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34761,26475,7,9,1997,7,PB,M,28.0,36.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34762,26546,7,29,1997,7,PB,M,27.0,37.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34763,26776,9,27,1997,7,PB,M,26.0,37.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34764,26819,9,27,1997,7,PB,M,30.0,40.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34765,28332,8,22,1998,7,PB,M,26.0,27.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34766,28336,8,22,1998,7,PB,M,26.0,23.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34767,28337,8,22,1998,7,PB,F,27.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34768,28338,8,22,1998,7,PB,F,25.0,23.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34769,28585,9,20,1998,7,PB,M,26.0,25.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34770,28667,10,24,1998,7,PB,M,26.0,25.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34771,29231,2,20,1999,7,PB,M,26.0,28.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34772,30355,2,5,2000,7,PB,M,27.0,20.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34773,32085,5,26,2001,7,PB,F,22.0,37.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34774,32477,8,25,2001,7,PB,M,28.0,32.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34775,33103,11,17,2001,7,PB,M,28.0,41.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34776,33305,12,15,2001,7,PB,M,29.0,44.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34777,34524,7,13,2002,7,PB,M,25.0,16.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34778,35382,12,8,2002,7,PB,M,26.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34779,26557,7,29,1997,7,PL,F,20.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34780,26787,9,27,1997,7,PL,F,21.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34781,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34782,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34783,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34784,28806,11,21,1998,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure
34785,30986,7,1,2000,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure

The data is here, but it is not usable. Equilavent analogy in Excel is someone prints out a copy of all data and gives it to you. Informative, but useless. What we need is a name, an identifier:

In [11]:
data = pandas.read_csv('data/combined.csv')

In [13]:
data

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control
2,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
3,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
4,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
5,363,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
6,435,12,10,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
7,506,1,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
8,588,2,18,1978,2,NL,M,NaN,218.0,Neotoma,albigula,Rodent,Control
9,661,3,11,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
10,748,4,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
11,845,5,6,1978,2,NL,M,32.0,204.0,Neotoma,albigula,Rodent,Control
12,990,6,9,1978,2,NL,M,NaN,200.0,Neotoma,albigula,Rodent,Control
13,1164,8,5,1978,2,NL,M,34.0,199.0,Neotoma,albigula,Rodent,Control
14,1261,9,4,1978,2,NL,M,32.0,197.0,Neotoma,albigula,Rodent,Control
15,1374,10,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
16,1453,11,5,1978,2,NL,M,NaN,218.0,Neotoma,albigula,Rodent,Control
17,1756,4,29,1979,2,NL,M,33.0,166.0,Neotoma,albigula,Rodent,Control
18,1818,5,30,1979,2,NL,M,32.0,184.0,Neotoma,albigula,Rodent,Control
19,1882,7,4,1979,2,NL,M,32.0,206.0,Neotoma,albigula,Rodent,Control
20,2133,10,25,1979,2,NL,F,33.0,274.0,Neotoma,albigula,Rodent,Control
21,2184,11,17,1979,2,NL,F,30.0,186.0,Neotoma,albigula,Rodent,Control
22,2406,1,16,1980,2,NL,F,33.0,184.0,Neotoma,albigula,Rodent,Control
23,2728,3,9,1980,2,NL,F,NaN,NaN,Neotoma,albigula,Rodent,Control
24,3000,5,18,1980,2,NL,F,31.0,87.0,Neotoma,albigula,Rodent,Control
25,3002,5,18,1980,2,NL,F,33.0,174.0,Neotoma,albigula,Rodent,Control
26,4667,7,8,1981,2,NL,F,30.0,130.0,Neotoma,albigula,Rodent,Control
27,4859,10,1,1981,2,NL,M,34.0,208.0,Neotoma,albigula,Rodent,Control
28,5048,11,23,1981,2,NL,M,34.0,192.0,Neotoma,albigula,Rodent,Control
29,5180,1,1,1982,2,NL,M,NaN,206.0,Neotoma,albigula,Rodent,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34756,21209,11,13,1993,7,CU,NaN,NaN,NaN,Cnemidophorus,uniparens,Reptile,Rodent Exclosure
34757,25710,5,10,1997,7,PB,M,26.0,31.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34758,26042,6,10,1997,7,PB,F,27.0,24.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34759,26096,6,10,1997,7,PB,F,26.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34760,26356,7,9,1997,7,PB,M,27.0,32.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34761,26475,7,9,1997,7,PB,M,28.0,36.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34762,26546,7,29,1997,7,PB,M,27.0,37.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34763,26776,9,27,1997,7,PB,M,26.0,37.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34764,26819,9,27,1997,7,PB,M,30.0,40.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34765,28332,8,22,1998,7,PB,M,26.0,27.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34766,28336,8,22,1998,7,PB,M,26.0,23.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34767,28337,8,22,1998,7,PB,F,27.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34768,28338,8,22,1998,7,PB,F,25.0,23.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34769,28585,9,20,1998,7,PB,M,26.0,25.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34770,28667,10,24,1998,7,PB,M,26.0,25.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34771,29231,2,20,1999,7,PB,M,26.0,28.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34772,30355,2,5,2000,7,PB,M,27.0,20.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34773,32085,5,26,2001,7,PB,F,22.0,37.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34774,32477,8,25,2001,7,PB,M,28.0,32.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34775,33103,11,17,2001,7,PB,M,28.0,41.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34776,33305,12,15,2001,7,PB,M,29.0,44.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34777,34524,7,13,2002,7,PB,M,25.0,16.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34778,35382,12,8,2002,7,PB,M,26.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34779,26557,7,29,1997,7,PL,F,20.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34780,26787,9,27,1997,7,PL,F,21.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34781,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34782,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34783,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34784,28806,11,21,1998,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure
34785,30986,7,1,2000,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure

What is data?

In [14]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

Pandas' DataFrame is one of the two *core* data structures in Pandas (the other is *Series*). 

- DataFrame is conceptionally equivalent to an Excel spreadsheet but is more powerful and versatile.
- DataFrame represents a table whose columns are vectors with same length but possible different data types

### Notes

- Pick the right tool for the job. Sometimes, Excel is the best tool.
- Using Python/Pandas (and other programming-based data analytic tools) requires a different perspective in thinking about data. 
- You will loose the *physical* interactions with data (similar to Excel). 
- Instead, you have to think about what data you want, then ask Python to show you (think shopping on Amazon ...)

#### DataFrame structures

We still need some hints from Python to help us *perceive*/*imagine* the data

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34786 entries, 0 to 34785
Data columns (total 13 columns):
record_id          34786 non-null int64
month              34786 non-null int64
day                34786 non-null int64
year               34786 non-null int64
plot_id            34786 non-null int64
species_id         34786 non-null object
sex                33038 non-null object
hindfoot_length    31438 non-null float64
weight             32283 non-null float64
genus              34786 non-null object
species            34786 non-null object
taxa               34786 non-null object
plot_type          34786 non-null object
dtypes: float64(2), int64(5), object(6)
memory usage: 3.5+ MB

In [16]:
data.describe()

,record_id,month,day,year,plot_id,hindfoot_length,weight
count,34786.000000,34786.000000,34786.000000,34786.000000,34786.000000,31438.000000,32283.000000
mean,17804.204421,6.473725,16.095987,1990.495832,11.343098,29.287932,42.672428
std,10229.682311,3.398384,8.249405,7.468714,6.794049,9.564759,36.631259
min,1.000000,1.000000,1.000000,1977.000000,1.000000,2.000000,4.000000
25%,8964.250000,4.000000,9.000000,1984.000000,5.000000,21.000000,20.000000
50%,17761.500000,6.000000,16.000000,1990.000000,11.000000,32.000000,37.000000
75%,26654.750000,10.000000,23.000000,1997.000000,17.000000,36.000000,48.000000
max,35548.000000,12.000000,31.000000,2002.000000,24.000000,70.000000,280.000000

In [19]:
data.shape

(34786, 13)

In [22]:
# Rown count
data.shape[0]

34786

Can we view some rows?

In [24]:
data.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control
2,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
3,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
4,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control

In [25]:
data.head(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control
2,224,9,13,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
3,266,10,16,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
4,349,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
5,363,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
6,435,12,10,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
7,506,1,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
8,588,2,18,1978,2,NL,M,NaN,218.0,Neotoma,albigula,Rodent,Control
9,661,3,11,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control

In [26]:
data.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
34781,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34782,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34783,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34784,28806,11,21,1998,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure
34785,30986,7,1,2000,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure

In [27]:
data.tail(10)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
34776,33305,12,15,2001,7,PB,M,29.0,44.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34777,34524,7,13,2002,7,PB,M,25.0,16.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34778,35382,12,8,2002,7,PB,M,26.0,30.0,Chaetodipus,baileyi,Rodent,Rodent Exclosure
34779,26557,7,29,1997,7,PL,F,20.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34780,26787,9,27,1997,7,PL,F,21.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34781,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34782,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34783,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34784,28806,11,21,1998,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure
34785,30986,7,1,2000,7,PX,NaN,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure

In [30]:
list(data)

['record_id',
 'month',
 'day',
 'year',
 'plot_id',
 'species_id',
 'sex',
 'hindfoot_length',
 'weight',
 'genus',
 'species',
 'taxa',
 'plot_type']

Now that we know about the **structure** of our data, how do we access the individual data subset?
This is called **indexing/selection**:

Select column:

In [33]:
data['record_id']

0            1
1           72
2          224
3          266
4          349
5          363
6          435
7          506
8          588
9          661
10         748
11         845
12         990
13        1164
14        1261
15        1374
16        1453
17        1756
18        1818
19        1882
20        2133
21        2184
22        2406
23        2728
24        3000
25        3002
26        4667
27        4859
28        5048
29        5180
         ...
34756    21209
34757    25710
34758    26042
34759    26096
34760    26356
34761    26475
34762    26546
34763    26776
34764    26819
34765    28332
34766    28336
34767    28337
34768    28338
34769    28585
34770    28667
34771    29231
34772    30355
34773    32085
34774    32477
34775    33103
34776    33305
34777    34524
34778    35382
34779    26557
34780    26787
34781    26966
34782    27185
34783    27792
34784    28806
34785    30986
Name: record_id, Length: 34786, dtype: int64

Select row by index:

In [40]:
data.loc[0]

record_id                 1
month                     7
day                      16
year                   1977
plot_id                   2
species_id               NL
sex                       M
hindfoot_length          32
weight                  NaN
genus               Neotoma
species            albigula
taxa                 Rodent
plot_type           Control
Name: 0, dtype: object

Slice rows:

In [38]:
data[5:10]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
5,363,11,12,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
6,435,12,10,1977,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
7,506,1,8,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control
8,588,2,18,1978,2,NL,M,NaN,218.0,Neotoma,albigula,Rodent,Control
9,661,3,11,1978,2,NL,NaN,NaN,NaN,Neotoma,albigula,Rodent,Control

Techniques to select/index DataFrame are extensive (http://pandas.pydata.org/pandas-docs/version/0.15/indexing.html#indexing). For the sake of simplicity, we will touch on specific approach as neccessitated by our data mining tasks.